#
# .editorconfig
# dotfiles
#
# https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.{dart,js,json,nix,rb,podspec,yaml,yml}]
indent_size = 2

[{Podfile,Rakefile}]
indent_size = 2

# Tab indentation (no size specified)
[{Makefile,*.{gitconfig,plist}}]
indent_style = tab

# Trailing spaces have meaning in Markdown
[*.md]
trim_trailing_whitespace = false

# JSON files contain newlines inconsistently
[*.json]
insert_final_newline = ignore
