!.android/repositories.cfg
!.config/fish/
!.config/fish/fishfile
!.config/fish/functions/*.fish
!.dotfiles/
!.oh-my-zsh/themes/agnoster-fcamblor.zsh-theme
!.oh-my-zsh/themes/agnoster-phatblat.zsh-theme
*.hprof
*.iml
*.padl
*.swp
*.xccheckout
*.xcscmblueprint
.*history
.AndroidStudio*/
.ApacheDirectoryStudio/
.CFUserTextEncoding
.DS_Store
.ICEauthority
.IntelliJIdea2019.1/
.JIRAClient/
.KindleTransfer/
.Trash/
.Ultimate/
.Xauthority
.advLdap/
.android/
.anka/
.antigen/
.anyconnect
.atom/
.audacity-data/
.aws/credentials
.bash_history
.bash_sessions/
.bluemix/
.bundle/cache/
.cache/
.cf/
.cisco/
.classpath
.cocoapods/
.conche/
.config/.todoist-linux.json
.config/BraveSoftware/
.config/Code/
.config/Code/Backups/
.config/Code/Cache/
.config/Code/CachedData
.config/Code/CachedExtensions/
.config/Code/Code Cache/
.config/Code/Cookies
.config/Code/Cookies-journal
.config/Code/GPUCache/
.config/Code/Network Persistent State
.config/Code/User/eq-material-theme-icons.json
.config/Code/User/globalStorage/
.config/Code/User/workspaceStorage/
.config/Code/languagepacks.json
.config/Code/machineid
.config/Code/rapid_render.json
.config/Code/storage.json
.config/Rygel/
.config/Slack/
.config/Todoist/
.config/Yubico/
.config/balena-etcher-electron/
.config/chromium/
.config/configstore
.config/dconf/
.config/direnv/
.config/enchant/
.config/evolution/
.config/fish/completions/
.config/fish/conf.d/done.fish
.config/fish/conf.d/z.fish
.config/fish/fish_variables
.config/fish/fishd.*
.config/fish/functions/__z.fish
.config/fish/functions/__z_add.fish
.config/fish/functions/__z_complete.fish
.config/fish/functions/__zo.fish
.config/fish/functions/fish_logo.fish
.config/fish/functions/get.fish
.config/fish/functions/getopts.fish
.config/fish/functions/humanize_duration.fish
.config/fish/functions/mock.fish
.config/fish/functions/z.awk
.config/fish/functions/zadd.awk
.config/fish/h
.config/fisherman/
.config/gedit/
.config/ghb/
.config/git/config
.config/git/gitk
.config/git/ignore
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/gtk-2.0/
.config/hub
.config/ibus/
.config/jgit
.config/kactivitymanagerdrc
.config/karabiner/automatic_backups/
.config/kdeconnect/
.config/kglobalshortcutsrc
.config/konsolerc
.config/libreoffice/
.config/lxterminal/
.config/menus/
.config/pulse/
.config/realm/
.config/session/
.config/sublime-text-3/
.config/terminus/
.config/thefuck
.config/thefuck/rules/chmod.pyc
.config/thefuck/settings.pyc
.config/truffle/
.config/upstall/last_run.*
.config/verdaccio/htpasswd
.config/yarn/
.config/yelp/yelp.cfg
.cpan/
.cups/
.dbshell
.dbus/
.dbvis/
.did_show_opt_info
.docker/
.dropbox/
.emulator_console_auth_token
.envrc
.fastlane/
.fastlane_crash_reporting
.gconf/
.gem/
.git/
.gitkraken/
.gnome/
.gnupg/
.gnupg_pre_2.1/
.gradle/
.groovy/
.heroku/
.hyper_plugins/
.idea/
.install4j
.ipfs/
.iterm2/
.iterm2_shell_integration.zsh
.itmstransporter/
.jabba/
.java/
.jenkins-hpl-map
.jenkins/
.jenv/
.junique/
.konan/
.kscript/
.lesshst
.lldb/
.lldb/module_cache/
.local/
.locks/
.lsp4xml/
.lumberjack/
.m2/repository/
.marathon/
.markdownNavigator/
.mcreator/
.minecraft/
.mint/
.mongodb/
.mono/
.mozilla/
.mplayer/
.netrc
.nextmind/
.ngrok/
.node-gyp/
.node_repl_history
.npm-cache/
.npm/
.npmrc
.nvm/
.nyantray
.oh-my-zsh/*
.oh-my-zsh/themes/*
.op/
.oracle_jre_usage/
.phantomjs/
.pingidentity/
.pki/
.project
.pry_history
.putty/
.pylint.d/
.pypirc
.ralio_recent
.raliorc
.raliorc/
.rbenv/
.repo_.gitconfig.json
.repoconfig/
.rest-client/
.rnd
.rubygems/
.sdkman/archives/
.sdkman/candidates/
.sdkman/src/
.sdkman/var/
.settings
.settings/
.slocdata/
.solargraph/
.sonar/
.sonarlint/
.spaceship/
.sqlite_history
.ssh/
.standard-v14-cache/
.subversion/
.sudo_as_admin_successful
.swiftenv/
.synx/
.task/
.thunderbird/
.tooling/
.travis/
.vault-token
.vim/
.viminfo
.vscode-cpptools/
.vscode/
.wget-hsts
.xsel.log
.yarnrc
.yjp/
.z
.zcompcache/
.zcompdump*
.zoomus/
.zsh-update
.zsh_history
.zsh_sessions/
Android
Applications
Applications/
Apps/
Backup/
Box Sync/
Calibre Library/
Carthage/
Desktop
Documents
Downloads
Downloads/
Dropbox/
EpuborLog/
Fastlane/report.xml
Google Drive/
IdeaProjects/
KindleTransfer2019.01.log
Library.bak/
Library/
Minecraft/
Movies
Movies/
Music
Music/
OmniPresence
OneDrive - Kaiser Permanente/
Pictures
Pictures.lnk
Pictures/
Pods/
Public/
Recovered Files – */
Ultimate/
VMs
VMs/
Videos/
Virtual Machines.localized/
VirtualBox VMs/
__z_clean.fish
bin/
build/
cali_core4/
data/
dev
dev.bak
examples.desktop
gradlew.bat
lib/
logs/
markdown/
mbox
mobot-scripts
node_modules/
private/
realm-object-server/
snap/
src/swift/swift-*
tmp/
xcuserdata
zclean.awk
