# Finder
.DS_Store

# Bundler is configured to install home dir gems into ~/.rubygems
.rubygems/

# Xcode
*.xccheckout
*.xcscmblueprint
xcuserdata
Carthage/
Pods/

# Directories containing sensitive info
.raliorc
private
