[credential]
    helper = osxkeychain
[github]
    user = phatblat
# Rewrite git:// URLs to use https:// scheme - this breaks an ObjectiveGit test
#[url "https://"]
#    insteadOf = git://
[hub]
    protocol = ssh
[branch]
    autosetuprebase = always
[rerere]
    enabled = true
[core]
    pager = diff-so-fancy | less --tabs=4 --RAW-CONTROL-CHARS --quit-if-one-screen --no-init
    whitespace = -trailing-space,-indent-with-non-tab,-tab-in-indent
    #--HILITE-SEARCH
    #--pattern '^(Date|added|deleted|modified|renamed): |\\* '
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = 227
    frag = magenta bold
    old = red bold
    new = green bold
    commit = 227 bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color "sh"]
    branch = yellow reverse
    workdir = blue bold
    dirty = red
    dirty-stash = red
    repo-state = red
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[push]
    default = simple
[diff]
    tool = Kaleidoscope
    algorithm = patience
[diff "l10n"]
    textconv = iconv -f utf-16 -t utf-8
[diff "plistbuddy"]
    textconv = plistbuddy -c Print
[difftool]
    prompt = false
[difftool "FileMerge"]
    cmd = /Applications/FileMerge.app -left \"$LOCAL\" -right \"$REMOTE\"
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = Kaleidoscope
[mergetool]
    keepBackup = false
    prompt = false
[mergetool "FileMerge"]
    cmd = /Applications/FileMerge.app -left \"$LOCAL\" -right \"$REMOTE\" -ancestor \"BASE\" -merge \"MERGED\"
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
# FIXME: Is this still relevant? Maybe gem now: https://github.com/alebedev/git-media
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
#[filter "xmlplist"]
#    clean = git-plist-filter.sh
#    smudge = git-plist-filter.sh
[diff-so-fancy]
    markEmptyLines = false
    changeHunkIndicators = true
    stripLeadingSymbols = true
    useUnicodeRuler = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[pull]
	rebase = true
[advice]
    detachedHead = false
[commit]
	gpgsign = false
[init]
	defaultBranch = main
