command regex rd 's/[[:space:]]*$/po [[[UIApplication sharedApplication] keyWindow] recursiveDescription]/' 's/.+$/po [%1 recursiveDescription]/'

command alias uikit expr @import UIKit
command alias foundation expr @import Foundation

# LLDB scripts from DerekSelander
#command script import "~/dev/xcode/LLDB/lldb_commands/dslldb.py"
command script import "~/Library/Application Support/Kaleidoscope/lldb_ksdiff.py"
