**/node_modules/
*.bun-build
*.cache
*.log
.DS_Store
.credentials.json
.env
.env.*.local
.env.local
/bun.lock
/package-lock.json
/package.json
MEMORY/
[Ss]tatsig/
cache/
chrome/
commands/
debug/
file-history/
history.jsonl
hooks/peon-ping/.last_update_check
hooks/peon-ping/.sound.pid
hooks/peon-ping/.state.json
hooks/peon-ping/.update_available
ide/
image-cache/
mcp-needs-auth-cache.json
node_modules/
paste-cache/
plans/
plugins/
powerline/
projects/
session-env/
sessions/
shell-snapshots/
stats-cache.json
tasks/
telemetry/
todos/
