00 4 * * *      /usr/bin/env gem update --system && /usr/bin/env gem update `/usr/bin/env gem outdated`
10 4 * * *      /usr/bin/env brew update && /usr/bin/env brew install `/usr/bin/env brew outdated --quiet`
